.contact-me-txt {
    font-family: Courier New, monospace;
    font-size: 1.5rem;
  }
  
  .contact-me {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 4vh;
    padding-top: 2vh;
    // background-color: #e6e6e6;
  }
  
  .logo {
    height: 3vh;
    width: 3vh;
    border-radius: 100%;
  }
  
  .logo-btn {
    margin: 0.5vh;
    border-radius:100%;
    border: none;
    cursor: pointer;
  }

  .contact-me-copyright{
    color: grey;
    margin: 1vh;
  }
  