@import url('https://fonts.googleapis.com/css?family=Alegreya+Sans');
@import url('https://fonts.googleapis.com/css?family=Alkatra');
.sidebar{
    background: rgba(0, 0, 0, 0.04);;
    height: 100vh;
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    z-index: 9999;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    &--img{
        border-radius: 100%;
        width: 20vh;
        height: 20vh;
        clip: auto;
    }

    &--contact{
        height: 20vh;
    }
}

h1{
    text-align: center;
}

.img-name{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    &--item{
        font-family: "Montserrat", Arial, sans-serif;
        line-height: 2;
        font-weight: bold;
        font-size: xx-large;
        color: black;
    }
    &--subtitle{
        line-height: normal;
        font-weight: 900;
        font-family: "Montserrat", Arial, sans-serif;
        font-size: x-large;
        color: black;
    }
}

.name{
    color:black;
    margin: 20vh 0vh 15vh 0vh;
    font-family:'Alkatra';
    font-size: 3em;
}

