.container{
  display: flex;
  flex-direction: row;
}

.wrap .overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: .7;
  background: #fff;
  z-index: -0;
}

.wrap{
  margin-left: 25%;
}